#frame {
	height: 500px;
	width: 100%;
	border: none;
}

#photo{
	height: 250px;
	width: 250px;
	display: block;
	border: 2px solid #000000;
	border-radius: 6px;
	padding: 5px;
}
header{
    border: 10px solid;
	background-color: #7ABDBD;
}
#outline{
	background-color: #101625;
}
nav.mainNav{
    border: 10px solid;
    border-top: 0px;
    height: 42px;
	background-color: #408080;
}
.mainNav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	color:#DEDEDE;
}

.mainNav ul li{
    float: left;
    padding: 12px
}
.mainNav ul li:hover{
    background-color: #1280AA;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

section.infoContainer{
    border: 10px solid;
    border-top: 0px;
	background-color: #7ABDBD;
}

.infoContainer > h3:first-child{
    margin-top: 0px;
}
